meta(name='description', content="Golang String Occurrence Example")
meta(name='keywords', content="HTML,CSS,JavaScript,AngularJS,Go")
meta(name='author', content="Maxwell Morin")
div#goExampleFindOccurrencePageWrapper
    div#goExampleFindOccurrenceTitle
        h1 Find String Duplication Occurrences
            img(src='../images/golang.png', alt='')
    div#goExampleFindOccurrenceInputWrapper
        h3 Enter a string containing duplicate words.
        div#goExampleFindOccurrenceInnerWrapper
            input#goExampleFindOccurrenceInput(type='text', ng-model='string')
            input#goExampleFindOccurrenceSubmit(type='button', value='Submit', ng-click='findOccurrences(string)')
    div#goExampleFindOccurrenceReturnWrapper
        label {{ occurrences }}
