div#angularJSExampleChartPage {
  height: calc(100% - 145px);
}

div#angularJSExampleChartInnerPageWrapper {
  height: 100%;
  overflow: auto;
  background-color: #F7F5E6;
}

div#angularJSExampleChartTitle {
  & h1, h2 {
    font-size: 1.5rem;
    font-family: open sans, sans-serif;
  }
}

div#angularJSExampleChartVisitorCount {
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
  margin-right: 25px;
  margin-top: 0px;
}

div#angularJSExampleChartVisitorLocation {
  display: grid;
  margin-left: 25px;
}

div#angularJSExampleChartBottomWrapper {
  display: flex;
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
  & h3 {
    font-size: 1.5rem;
    font-family: open sans, sans-serif;
  }
}

div#angularJSExampleChartLocationInfoWrapper {
  float: left;
  display: grid;
  padding-left: 5px;
  padding-bottom: 10px;
  padding-top: 5px;
}

div#angularJSExampleChartLocationLabelWrapper {
  display: grid;
  padding-top: 5px;
  text-align: right;
  float: left;
  border-right: solid;
  border-right-width: 2px;
  padding-bottom: 10px;
  padding-right: 5px;
}

div#angularJSExampleChartVisitorList {
  display: grid;
}
