div#angularJSExampleChartPage {
  height: calc(100% - 145px);
}

div#angularJSExampleChartInnerPageWrapper {
  height: 100%;
  overflow: auto;
  background-color: #F7F5E6;
}

div#angularJSExampleChartTitle
  & h1, h2 {
  font-size: 1.5rem;
  font-family: open sans, sans-serif;
}
