img#locationMap {
  width: 400px;
  height: 400px;
}

div#contactMeInfoWrapper {
  display: flex;
}

div#contactMeInsideWrapper {
  position: relative;
  top: 150px;
  & h1 {
    text-align: center;
  }
}