a#footerLink {
  margin-left: 5px;
}

div#footerInfo {
  display: flex;
  & a {
    margin-left: 5px;
  }
}

div#footerInfo h4:nth-child(1) {
  margin-left: 10px;
}

div#footerInfo h4:nth-child(3) {
  margin-left: 5px;
}

div#footerWrapper {
  //position: absolute;
  //left: 0;
  //bottom: 0;
  //height: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0,0,0,.125);
  overflow: auto;
  height: 45px;
  background: #333A56;
}

div#footer h4 {
  color: #F7F5E6;
  //margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: capitalize;
  font-size: 14px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

div#footer h5 {
  color: #F7F5E6;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: capitalize;
  font-size: 12px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

div#footer a {
  color: #0096cc;
  text-decoration: none;
}
