a#footerLink {
  margin-left: 5px;
}

div#footerWrapper {
  //position: absolute;
  left: 0;
  bottom: 0;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0,0,0,.125);
  //padding: 1px;
  //position: absolute;
  //bottom: 65px;
  //background: #333A56;
  //border-top-style: solid;
  //border-top-width: thick;
  //border-top-color: #52658F;

  //background-image: url("../images/YOTS.png");
  //background-size: 1500px;
  //background-position-y: -45px;
  //background-blend-mode: exclusion;
}

div#footer h4 {
  color: black;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: capitalize;
  font-size: 14px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

div#footer h5 {
  color: black;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: capitalize;
  font-size: 12px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

div#footer a {
  color: #FFC925;
}