
<title>Unity3D WebGL Game!</title>
<div id="unityLostInSpaceLabelWrapper">
  <div id="unityLostInSpaceTop">
    <md-button id="closeLostInSpace" ng-show="playLostInSpace" ng-click="goBack()">Close Lost in Space</md-button>
    <md-button id="playLostInSpace" ng-show="!playLostInSpace" ng-click="launchLostInSpace()">Play Lost in Space</md-button>
  </div>
</div>
<div id="showLostInSpace" ng-if="playLostInSpace">
  <div class="template-wrap clear">
    <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="600px" width="960px"></canvas><br/>
    <div class="logo"></div>
    <div class="fullscreen"><img src="./unityGames/LostInSpaceWebGL/TemplateData/fullscreen.png" width="38" height="38" alt="Fullscreen" title="Fullscreen" onclick="SetFullscreen(1);"/></div>
    <div class="title">Lost in Space</div>
  </div>
</div>