div#projectPage {
  font-family: open sans, sans-serif;
  width: 100%;
}
div#projectPage img:hover {
  transform: scale(1.5);
  transition: transform 0.2s;
}
div#projectPage h2 {
  font-family: open sans, sans-serif;
}
div#projectPageFourthRow {
  border-top-style: solid;
  border-top-width: 2px;
  overflow: auto;
  margin-bottom: 15px;
}
div#projectPageThirdRow {
  border-top-style: solid;
  border-top-width: 2px;
  overflow: auto;
  margin-bottom: 15px;
}
div#projectPageSecondRow {
  border-top-style: solid;
  border-top-width: 2px;
  overflow: auto;
  margin-bottom: 15px;
}
div#projectPageFirstRow {
  border-top-style: solid;
  border-top-width: 2px;
  overflow: auto;
  margin-bottom: 15px;
}
div#projectPagePlusOneRow {
  border-top-style: solid;
  border-top-width: 2px;
  overflow: auto;
  margin-bottom: 15px;
}
div#quoteBuilderWrapper {
  text-align: center;
}
div#quoteBuilderWrapper img {
  width: 400px;
}
div#quoteBuilderWrapper h2 {
  text-align: center;
}
div#quoteBuilderWrapper label {
  text-align: left;
}
div#quoteBuilderLabelWrapper {
  text-align: left;
  display: grid;
}
div#projectPagePlusTwoRow {
  border-top-style: solid;
  border-top-width: 2px;
  overflow: auto;
  margin-bottom: 15px;
}
div#porjectPagePlusOneRow {
  overflow: auto;
  margin-bottom: 15px;
}
div#projectPagePlusThreeRow {
  border-top-style: solid;
  border-top-width: 2px;
  overflow: auto;
  margin-bottom: 15px;
}
div#nioSettingsWrapper {
  width: 50%;
  overflow-wrap: normal;
  float: right;
  display: grid;
}
div#nioSettingsWrapper img#nioSettingsImage {
  float: left;
  height: 200px;
  width: 300px;
  border: 3px solid white;
}
div#nioSettingsWrapper div#nioSettingsLabelWrapper {
  display: grid;
  float: right;
}
div#quoteBuilderPic,
div#nioStabliltyPic,
div#nioSettingsPic {
  display: grid;
  margin-bottom: 10px;
}
div#nioStabilityWrapper {
  width: 50%;
  overflow-wrap: normal;
  float: left;
  display: grid;
}
div#nioStabilityWrapper img#nioStabilityImage {
  float: left;
  height: 200px;
  width: 300px;
  border: 3px solid white;
}
div#nioStabilityWrapper label {
  width: fit-content;
  width: -moz-fit-content;
}
div#quoteBuilderPic {
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
}
div#lostInSpaceWrapper {
  width: 50%;
  overflow-wrap: normal;
  float: left;
  display: grid;
}
div#lostInSpaceWrapper img#lostInSpaceImage {
  float: left;
  height: 200px;
  width: 300px;
  border: 3px solid white;
}
div#lostInSpaceWrapper div#lostInSpaceLabelWrapper {
  display: grid;
  float: right;
}
div#eggManWrapper {
  width: 50%;
  overflow-wrap: normal;
  float: right;
  display: grid;
}
div#eggManWrapper img#eggManImage {
  float: left;
  height: 200px;
  width: 300px;
  border: 3px solid white;
}
div#eggManWrapper div#eggManLabelWrapper {
  display: grid;
  float: right;
}
div#medevilWrapper {
  width: 50%;
  overflow-wrap: normal;
  float: right;
  display: grid;
}
div#medevilWrapper img#medevilImage {
  float: left;
  height: 200px;
  width: 300px;
  border: 3px solid white;
}
div#medevilWrapper div#medevialLabelWrapper {
  display: grid;
  float: right;
}
div#eggciteBikeWrapper {
  width: 50%;
  overflow-wrap: normal;
  float: left;
  display: grid;
}
div#eggciteBikeWrapper img#eggciteBikeImage {
  float: left;
  height: 200px;
  width: 300px;
  border: 3px solid white;
}
div#eggciteBikeWrapper div#eggciteBikeLabelWrapper {
  display: grid;
  float: right;
}
div#salvareWrapper {
  width: 50%;
  overflow-wrap: normal;
  float: left;
  display: grid;
}
div#salvareWrapper img#salvareImage {
  float: left;
  height: 200px;
  width: 300px;
  border: 3px solid white;
}
div#salvareWrapper div#salvareLabelWrapper {
  display: grid;
  float: right;
}
div#medevilDialogWrapper {
  width: 50%;
  overflow-wrap: normal;
  float: right;
  display: grid;
}
div#medevilDialogWrapper img#medevialDialogImage {
  float: left;
  height: 200px;
  width: 300px;
  border: 3px solid white;
}
div#medevilDialogWrapper div#medevialDialogLabelWrapper {
  display: grid;
  float: right;
}
div#ncBrowseWrapper {
  width: 50%;
  overflow-wrap: normal;
  float: right;
  display: grid;
}
div#ncBrowseWrapper img#ncBrowseImage {
  float: left;
  height: 200px;
  width: 300px;
  border: 3px solid white;
}
div#ncBrowseWrapper div#ncBrowseLabelWrapper {
  display: grid;
  float: right;
}
div#turtlesWrapper {
  width: 50%;
  overflow-wrap: normal;
  float: left;
  display: grid;
}
div#turtlesWrapper img#turtlesImage {
  float: left;
  height: 200px;
  width: 200px;
  border: 3px solid white;
}
div#turtlesWrapper div#turtlesLabelWrapper {
  display: grid;
  float: right;
}
div#quickCustomerWrapper {
  width: 50%;
  overflow-wrap: normal;
  float: left;
  display: grid;
}
div#quickCustomerWrapper img#quickCustomerImage {
  float: left;
  height: 200px;
  width: 300px;
  border: 3px solid white;
}
div#quickCustomerWrapper div#quickCustomerLabelWrapper {
  display: grid;
  float: right;
}
div#algorithmsWrapper {
  width: 50%;
  overflow-wrap: normal;
  float: left;
  display: grid;
}
div#algorithmsWrapper img#algorithmsImage {
  float: left;
  height: 200px;
  width: 300px;
  border: 3px solid white;
}
div#algorithmsWrapper div#algorithmsLabelWrapper {
  display: grid;
  float: right;
}
div#scapeGoatTreeWrapper {
  width: 50%;
  overflow-wrap: normal;
  float: right;
  display: grid;
}
div#scapeGoatTreeWrapper div#scapeGoatTreeLabelWrapper {
  display: grid;
  float: right;
}
div#scapeGoatTreeWrapper img#scapeGoatTreeImage {
  height: 200px;
  width: 300px;
  border: 3px solid white;
}
div#powerBiWrapper {
  width: 50%;
  overflow-wrap: normal;
  float: right;
  display: grid;
}
div#powerBiWrapper img#powerBiImage {
  height: 200px;
  width: 300px;
  border: 3px solid white;
}
