@charset "UTF-8";
div#goExampleTwitterPage {
  height: calc(100% - 100px);
}
div#goExampleTwitterPageWrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #f5f8fa;
}
div#goExampleTwitterTitle h1 {
  color: #282e44;
  text-transform: capitalize;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: solid;
  border-color: #282E43;
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
}
div#goExampleTwitterTitle img {
  width: 50px;
  vertical-align: middle;
  margin-left: 10px;
}
div#goExampleTwitterRecentTweetWrapper,
div#goExampleTwitterSubmitTweet,
div#goExampleTwitterSubmitInput,
div#goExampleTwitterPostedTweet,
div#goExampleTwitterPostedTweetWrapper {
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
  margin-top: 10px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}
div#goExampleTwitterRecentTweetWrapper input,
div#goExampleTwitterSubmitTweet input,
div#goExampleTwitterSubmitInput input,
div#goExampleTwitterPostedTweet input,
div#goExampleTwitterPostedTweetWrapper input {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}
div#goExampleTwitterRecentTweetWrapper label,
div#goExampleTwitterSubmitTweet label,
div#goExampleTwitterSubmitInput label,
div#goExampleTwitterPostedTweet label,
div#goExampleTwitterPostedTweetWrapper label {
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
}
