title AngularJS and C3JS Chart Example!
div#angularJSExampleChartInnerPageWrapper
    div#angularJSExampleChartTopWrapper
        div#angularJSExampleChartTitle
            h1.md-display-1 Website Traffic
        div#angularJSExampleChartWrapper
            div#chart
    div#angularJSExampleChartCardWrapper
        div#angularJSExampleChartLeft
            md-content.md-padding(layout-xs='column', layout='column')
                div(flex-xs='', flex-gt-xs='50', layout='column', style='margin:auto;')
                    md-card
                        md-card-title
                            md-card-title-text
                                span.md-headline Page Views
                        md-card-content
                            p
                                span.md-body-1
                                    | {{ currentMonthName }} Page Views
                                span.md-body-1
                                    | {{ ::currentPageMonthTotal }}
                    md-card
                        md-card-title
                            md-card-title-text
                                span.md-headline Unique Visitors
                        md-card-content
                            p
                                span.md-body-1
                                    | {{ currentMonthName }} Unique Visitors
                                span.md-body-1
                                    | {{ ::currentMonthTotal }}
        div#angularJSExampleChartMiddle
            md-content.md-padding(layout-xs='column', layout='column')
                div(flex-xs='', flex-gt-xs='50', layout='row', style='margin:auto;')
                    md-card#uniqueVistiorsCard
                        md-card-title
                            md-card-title-text
                                span.md-headline Unique Visitor List
                        md-card-content
                            div#angularJSExampleChartVisitorList
                                    label.md-body-1(ng-repeat='ip in ipLocationList', ng-click='selectIPLocation(ip.ip)') {{ ::$index + 1 }}) {{ ::ip.ip }}
        div#angularJSExampleChartRight
            md-content.md-padding(layout-xs='column', layout='column')
                div(flex-xs='', flex-gt-xs='50', layout='column', style='margin:auto;')
                    md-card
                        md-card-title
                            md-card-title-text
                                span.md-headline Connection Information
                        md-card-content
                            p
                                span.md-body-1
                                    | Response Time: {{ pingTime }} ms
                                span.md-body-1
                                    | Client: {{ browserCity }}, {{ browserState }}
                                span.md-body-1
                                    | Server: Dallas, TX
                                span.md-body-1
                                    | Distance: {{ distance | limitTo:8}} Km
                    div#angularJSExampleChartVisitorLocation(ng-show='selectedIP.length > 0')
                        md-card
                            md-card-title
                                md-card-title-text
                                    span.md-headline Unique Visitor Info
                            md-card-content
                                div#angularJSExampleChartVisitors(ng-repeat='visitor in selectedIP')
                                    div#angularJSExampleChartLocationLabelWrapper
                                        label.md-body-1(ng-show='visitor.ip') IP
                                        label.md-body-1(ng-show='visitor.isp') ISP
                                        label.md-body-1(ng-show='visitor.as.name') Name
                                        label.md-body-1(ng-show='visitor.location.city') City
                                        label.md-body-1(ng-show='visitor.location.region') Region
                                        label.md-body-1(ng-show='visitor.location.country') Country
                                    div#angularJSExampleChartLocationInfoWrapper
                                        label.md-body-1(ng-show='visitor.ip') {{ ::visitor.ip }}
                                        label.md-body-1(ng-show='visitor.isp') {{ ::visitor.isp }}
                                        label.md-body-1(ng-show='visitor.as.name') {{ ::visitor.as.name }}
                                        label.md-body-1(ng-show='visitor.location.city') {{ ::visitor.location.city }}
                                        label.md-body-1(ng-show='visitor.location.region') {{ ::visitor.location.region }}
                                        label.md-body-1(ng-show='visitor.location.country') {{ ::visitor.location.country }}

