title Maxwell Ross Morin's Contract Me Page.
div#contactMeInsideWrapper
    //h1 Contact Me
    div#contactMeInfoWrapper
        div#map
        div#contactMeWrapper
            div#contactMeTitle
                h3 Contact Me
                label Have a question or want to work together?
            div#contactMeTop
                input(ng-model='name', placeholder='Name')
                input(ng-model='email', placeholder='Email Address')
            div#contactMeMiddle
                input(ng-model='phone', placeholder='Phone Number')
            div#contactMeBottom
                textarea(ng-model='message', placeholder='Message')
            div#contactMeButton
                button#contactMeSubmitButton(ng-click='sendMessage(name, email, phone, message)') Send Email
