title Maxwell Ross Morin's Contract Me Page.
div#contactMeInsideWrapper
    //h1 Contact Me
    div#contactMeInfoWrapper
        div#map
        div#contactMeWrapper
            div#contactMeTitle
                h3 Contact Me
                label Have a question or want to work together?
            .md-inline-form(layout='column' ng-cloak='')
                md-content(md-theme='grey' layout-gt-sm='row' layout-padding='')
                    div
                        form(name='userForm')
                            div(layout-gt-xs='row')
                                md-input-container.md-block(flex-gt-sm='')
                                    label First Name
                                    input(ng-model='user.firstname')
                                md-input-container.md-block(flex-gt-sm='')
                                    label Last Name
                                    input(ng-model='user.lastname')
                                md-input-container.md-block(flex-gt-sm='')
                                    label Email
                                    input(ng-model='user.email', type='email', ng-pattern="emailRegex")
                                md-input-container.md-block(flex-gt-sm='')
                                    label Phone
                                    input(ng-model='user.phone', ng-pattern="phoneRegex")
                            div(layout-gt-xs='row')
                                md-input-container.md-block(flex-gt-xs='')
                                    label Message
                                    textarea(ng-model='user.message' md-maxlength='500' rows='5' md-select-on-focus='')
                            div(layout-gt-xs='row')
                                md-input-container.md-block(flex-gt-xs='')
                                    md-button(ng-click='sendMessage()') Send Email