title Maxwell Ross Morin's personal portfolio website!
div#InsiteMainPageWrapper
    div#MEWrapper
        //div#MEBorder
        img#ME(src='./images/me5.jpg', alt='')
    div#AboutMeWrapper
        h1 Maxwell Morin
        h3 Product Owner, Full-Stack Web Dev, and IT Pro
        h3 AA EMCC Liberal Studies - BS UMaine CS
div#AboutMeBottomWrapper
    div#AboutMeDetails
        h3 About Me
        a Interests include web development, cooking, and Star Wars. I have experience as a Product Owner, Full-Stack Engineer, and IT Manager from a private company that builds compact radars for commercial and military use. Previously, I worked as an IT consultant for the University of Maine's Psychology Department and on an IT Help Desk at a large construction company. For more info, check out my projects on GitHub.
    div#AboutMeContacts
        h3 Contact
        a(href='https://www.facebook.com/MaxwellMorin', target="_blank")
            img(src='./images/facebook.png', alt='')
            label FaceBook
        a(href='https://www.linkedin.com/in/maxwell-morin-35159266/', target="_blank")
            img(src='./images/linkedin.png', alt='')
            label LinkedIn
        a(href='https://github.com/MaxwellM', target="_blank")
            img(src='./images/github.png', alt='')
            label GitHub
        a(href='https://www.codewars.com/users/MaxwellM', target="_blank")
            img(src='./images/codewars.png', alt='')
            label CodeWars
