div()
    md-content.md-padding
        md-nav-bar(md-selected-nav-item='currentNavItem', nav-bar-aria-label='navigation links')
            md-nav-item(md-nav-click='$root.buttonName = "Maxwell Morin";')
                | Maxwell Morin
            md-nav-item(md-nav-click='$root.buttonName = "Contact Me";')
                | Contact Me
            md-nav-item(md-nav-click='$root.buttonName = "Resume";')
                | Resume
            md-nav-item(md-nav-click='$root.buttonName = "Projects";')
                | Projects
            md-menu(md-position-mode="target-right bottom")
                md-nav-item(md-nav-click='$mdMenu.open()')
                    | {{ !examples.includes($root.buttonName) ? "Examples ▼" : $root.currentMenuItem + " ▼"}}
                md-menu-content#navExampleDropDown
                    md-menu-item
                        md-menu
                            md-button(ng-click='$mdMenu.open()')
                                | ◀ AngularJS
                            md-menu-content
                                md-menu-item
                                    md-button(ng-click='$root.buttonName = "Table Example";$root.currentMenuItem="Table Example";')
                                        | Table Example
                                md-menu-item
                                    md-button(ng-click='$root.buttonName = "Display Example";$root.currentMenuItem="Display Example";')
                                        | Display Example
                                md-menu-item
                                    md-button(ng-click='$root.buttonName = "Chart Example";$root.currentMenuItem="Chart Example";')
                                        | Chart Example
                                md-menu-item
                                    md-button(ng-click='$root.buttonName = "Translate";$root.currentMenuItem="Translate";')
                                        | Translate
                                md-menu-item
                                    md-button(ng-click='$root.buttonName = "Twitter";$root.currentMenuItem="Twitter";')
                                        | Twitter
                                md-menu-item
                                    md-button(ng-click='$root.buttonName = "Stock Tracker";$root.currentMenuItem="Stock Tracker";')
                                        | Stock Tracker
                    md-menu-item
                        md-menu
                            md-button(ng-click='$mdMenu.open()')
                                | ◀ Golang
                            md-menu-content
                                md-menu-item
                                    md-button(ng-click='$root.buttonName = "String Duplication";$root.currentMenuItem="String Duplication";')
                                        | String Duplication
                    md-menu-item
                        md-menu
                            md-button(ng-click='$mdMenu.open()')
                                | ◀ Unity
                            md-menu-content
                                md-menu-item
                                    md-button(ng-click='$root.buttonName = "Unity Lost In Space";$root.currentMenuItem="Unity Lost In Space";')
                                        | Unity Lost In Space
                                md-menu-item
                                    md-button(ng-click='$root.buttonName = "Unity Eggcite Bike";$root.currentMenuItem="Unity Eggcite Bike";')
                                        | Unity Eggcite Bike