head
    base(href="/")
    link(rel="stylesheet", href="./css/navigation.css", type="text/css")
body
    div()
        md-content.md-padding
            md-nav-bar(md-selected-nav-item='currentNavItem', nav-bar-aria-label='navigation links')
                md-nav-item(md-nav-href='/')
                    | Maxwell Morin
                md-nav-item#contactMeButton(md-nav-href='/contactMe')
                    | Contact Me
                md-nav-item(md-nav-href='/resume')
                    | Resume
                md-nav-item(md-nav-href='/projects')
                    | Projects
                md-menu(md-position-mode="target-right bottom")
                    md-nav-item(md-nav-click='$mdMenu.open()')
                        | {{ !examples.includes($root.buttonName) ? "Examples ▼" : $root.currentMenuItem + " ▼"}}
                    md-menu-content#navExampleDropDown
                        md-menu-item
                            md-menu
                                md-nav-item(md-nav-click='$mdMenu.open()')
                                    | ◀ AngularJS
                                md-menu-content
                                    md-nav-item(md-nav-href='/angularJsExampleTable')
                                            | Table Example
                                    md-nav-item(md-nav-href='/angularJsExampleDisplay')
                                            | Display Example
                                    md-nav-item(md-nav-href='/angularJsExampleChart')
                                            | Chart Example
                        md-menu-item
                            md-menu
                                md-nav-item(md-nav-click='$mdMenu.open()')
                                    | ◀ Golang
                                md-menu-content
                                    md-nav-item(md-nav-href='/phraseOccurrence')
                                            | String Duplication
                                    md-nav-item(md-nav-href='/stockTracker')
                                            | Stock Tracker
                                    md-nav-item(md-nav-href='/translate')
                                            | Translate
                                    md-nav-item(md-nav-href='/twitter')
                                            | Twitter
                        md-menu-item
                            md-menu
                                md-nav-item(md-nav-click='$mdMenu.open()')
                                    | ◀ Unity
                                md-menu-content
                                    md-nav-item(md-nav-href='/unityEggman')
                                            | Unity Eggman
                                    md-nav-item(md-nav-href='/unityLostInSpace')
                                            | Unity Lost In Space
                                    md-nav-item(md-nav-href='/unityEggciteBike')
                                            | Unity Eggcite Bike
script(defer='', src="./js/navigation.js")
