div(ng-init='myCtrl.buttonName = "Maxwell Morin"')
    md-content.md-padding
        md-nav-bar(md-selected-nav-item='currentNavItem' nav-bar-aria-label='navigation links')
            md-nav-item(md-nav-click='log(button);myCtrl.buttonName = "Maxwell Morin";')
                | Maxwell Morin
            md-nav-item(md-nav-click='log(button);myCtrl.buttonName = "Contact Me";')
                | Contact Me
            md-nav-item(md-nav-click='log(button);myCtrl.buttonName = "Resume";')
                | Resume
            md-nav-item(md-nav-click='log(button);myCtrl.buttonName = "Projects";')
                | Projects
            md-menu(md-position-mode="target-right bottom")
                md-button#navButton(ng-click='$mdMenu.open()')
                    | Examples ▼
                md-menu-content()
                    md-menu-item
                        md-button(ng-click='log(button);myCtrl.buttonName = "Table Example";')
                            | Table Example
                    md-menu-item
                        md-button(ng-click='log(button);myCtrl.buttonName = "Display Example";')
                            | Display Example
                    md-menu-item
                        md-button(ng-click='log(button);myCtrl.buttonName = "Chart Example";')
                            | Chart Example
                    md-menu-item
                        md-button(ng-click='log(button);myCtrl.buttonName = "String Duplication";')
                            | String Duplication
                    md-menu-item
                        md-button(ng-click='log(button);myCtrl.buttonName = "Translate";')
                            | Translate
                    md-menu-item
                        md-button(ng-click='log(button);myCtrl.buttonName = "Twitter";')
                            | Twitter
                    md-menu-item
                        md-button(ng-click='log(button);myCtrl.buttonName = "Unity Lost In Space";')
                            | Unity Lost In Space