
div#stockTrackerPageWrapper
    div#stockTrackerPageTableWrapper
        div#stockTrackerItemPickerWrapper
            md-card
                md-card-title
                    md-card-title-text
                        span.md-headline Item Inventory Tracker
                        span.md-subhead Currently supports: BestBuy, Walmart, Target, and GameStop.
                md-card-content
                    div#stockTrackerUpdateInfoWrapper
                        label Last Update: {{ lastUpdate }} (Updates every 5 minutes)
                        md-progress-circular(md-mode='determinate', md-diameter="20px", value='{{progressValue}}')
                    div(layout='row')
                        md-select.md-no-underline(ng-model='itemSelected', ng-change='getDataPromise()', aria-label='Stock Item Select')
                            md-option(ng-repeat='item in items', value='{{item}}')
                                | {{item}}
        div#stockTrackerTableWrapper(ng-show='results.length')
            md-table-container
                table(md-table='', md-progress='getDataPromise')
                    thead(md-head='', md-order='results.Store')
                        tr(md-row='')
                            th(md-column='')
                                span Id
                            th(md-column='', md-order-by='Store')
                                span Store
                            th(md-column='', md-order-by='Name')
                                span Name
                            th(md-column='', md-order-by='Price')
                                span Price
                            th(md-column='')
                                span Availability
                    tbody(md-body='')
                        tr(md-row='' ng-repeat="result in results | orderBy: results.Store")
                            td(md-cell='') {{result.Id}}
                            td(md-cell='') {{result.Store}}
                            td(md-cell='') {{result.Name}}
                            td(md-cell='') {{result.Price}}
                            td(md-cell='')
                                a(ng-href='{{result.URL}}') {{result.Availability}}
