head
    link(rel="stylesheet", href="./css/stockTracker.css", type="text/css")
body
    div#stockTrackerPageWrapper
        div#stockTrackerPageTableWrapper
            div#stockTrackerTopWrapper
                h1.md-display-1 Product Availability Tracker
                span.md-subhead Monitor availability and price for hot products across a variety of online stores
                span.md-subhead Currently supports: BestBuy, Walmart, Target, and GameStop.
            div#stockTrackerMiddleWrapper
                div#stockTrackerMiddleInfo
                    h4.md-headline(ng-show="currentVendor") Checking: {{ currentVendor }}
                    h4.md-headline(ng-show="lastUpdate") Last Update: {{ lastUpdate }}
                    h4.md-headline(ng-show="timeLeft") Next Update: {{ timeLeft }}
                md-progress-linear.md-warn(md-mode='buffer' value='{{progressValue}}' md-buffer-value='{{progressValueBuffer}}')
            div#stockTrackerBottomWrapper
                div#stockTrackerItemWrapper(layout='row')
                    md-subhead Item to Track:
                    md-select.md-no-underline(ng-model='itemSelected', ng-change='getDataPromise()', aria-label='Stock Item Select')
                        md-option(ng-repeat='item in items', value='{{item}}')
                            | {{item}}
                div#stockTrackerTableWrapper(ng-show='results.length')
                    md-table-container
                        table(md-table='', md-progress='getDataPromise')
                            thead(md-head='', md-order='results.Store')
                                tr(md-row='')
                                    th(md-column='')
                                        span.md-body-1 Id
                                    th(md-column='', md-order-by='Store')
                                        span.md-body-1 Store
                                    th(md-column='', md-order-by='Name')
                                        span.md-body-1 Name
                                    th(md-column='', md-order-by='Price')
                                        span.md-body-1 Price
                                    th(md-column='')
                                        span.md-body-1 Availability
                            tbody(md-body='')
                                tr(md-row='' ng-repeat="result in results | orderBy: results.Store | limitTo: myLimit: (myPage - 1) * myLimit")
                                    td(md-cell='') {{result.Id}}
                                    td(md-cell='') {{result.Store}}
                                    td(md-cell='') {{result.Name}}
                                    td(md-cell='') {{result.Price}}
                                    td(md-cell='')
                                        a(ng-href='{{result.URL}}') {{result.Availability}}
                    md-table-pagination(md-limit="myLimit", md-page="myPage", md-total="{{results.length}}")
script(defer='', src="./js/stockTracker.js")
