div#stockTrackerPageWrapper
    div#stockTrackerUpdateInfoWrapper
        label Last Update: {{ lastUpdate }}
        md-progress-circular(md-mode='indeterminate', md-diameter="20px")
        md-progress-circular(md-mode='determinate', md-diameter="20px", value='{{progressValue}}')
div#stockTrackerPageTableWrapper

