head
    link(rel="stylesheet", href="./css/translate.css", type="text/css")
body
    meta(charset="UTF-8")
    div#goExampleTranslatePageWrapper
        div#goExampleTranslateTitle
            h1.md-display-1 Translate
                img(src='./images/golang.png', alt='')
        div#goExampleTranslateInputWrapper
            h3.md-headline Enter a string and choose a language to translate!
            div#goExampleTranslateInnerWrapper
                .md-inline-form(layout='row', ng-cloak='')
                    md-content(layout-gt-sm='row', layout-padding='')
                        form(ng-submit='translate()')
                            div(layout-gt-xs='row')
                                md-input-container.md-block(flex-gt-sm='')
                                    label.md-body-1 Input string to translate
                                    input(ng-model='string', style='width:450px')
                                md-input-container.md-block(flex-gt-sm='')
                                    label.md-body-1 Language
                                    md-select(ng-model='lngSelected')
                                        md-option(ng-repeat='lang in languages', value='{{lang}}')
                                            | {{lang}}
                                md-input-container.md-block(flex-gt-sm='')
                                    md-button(ng-click='translate()') Submit
        div#goExampleTranslateReturnWrapper
            label.md-body-1 Translation:
            label(ng-bind-html="translation")
script(defer='', src="./js/translate.js")
