title Unity3D WebGL Game!
div#unityEggciteBikeLabelWrapper
    div#unityEggciteBikeTop
        md-button#closeLostInSpace(ng-show='playEggciteBike', ng-click='goBack()') Close Eggcite Bike
        md-button#playLostInSpace(ng-show='!playEggciteBike', ng-click='launchEggciteBike()') Play Eggcite Bike
div#showEggciteBike(ng-if='playEggciteBike')
    .template-wrap.clear
        canvas#canvas.emscripten(oncontextmenu='event.preventDefault()' height='600px' width='960px')
        br
        .logo
        .fullscreen
            img(src='./unityGames/EggciteBikeWebGL/TemplateData/fullscreen.png' width='38' height='38' alt='Fullscreen' title='Fullscreen' onclick='SetFullscreen(1);')
        .title Eggcite Bike
