div#angularJSExampleChartInnerPageWrapper
    div#angularJSExampleChartTopWrapper
        div#angularJSExampleChartTitle
            h1 Unique Visitors by Month
        div#angularJSExampleChartWrapper
            div#chart
    div#angularJSExampleChartBottomWrapper
        div#angularJSExampleChartVisitorCount
            h2 Unique Visitors for {{ currentMonthName }}
            h2 {{ currentMonthTotal }}


