div#angularJSExampleChartInnerPageWrapper
    div#angularJSExampleChartTopWrapper
        div#angularJSExampleChartTitle
            h1 Unique Visitors by Month
        div#angularJSExampleChartWrapper
            div#chart
    div#angularJSExampleChartBottomWrapper
        div#angularJSExampleChartVisitorCount
            h3 Unique Visitors for {{ currentMonthName }}
            h3 {{ currentMonthTotal }}
        div#angularJSExampleChartVisitorLocation
            h3 Unique Visitor Locations
            div#angularJSExampleChartVisitors(ng-repeat='visitor in visitors')
                label {{ $index+1 }}) {{ visitor.Ip }}
                //label {{ visitor.Ip }}


