div#angularJSExampleTableWrapper
    div#angularJSExampleTableSidebarWrapper
        div#angularJSExampleTableSidebarSearchTitle
            h1 Search
        div#angularJSExampleTableSidebarFilters
            div#angularJSExampleTableSidebarFilterLabels
                label Name
                label Species
                label Born
                label Died
            div#angularJSExampleTableSidebarInputs
                input(type='text', ng-model='name')
                input(type='text', ng-model='species')
                input(type='number', ng-model='searchBorn')
                input(type='number', ng-model='searchDied')
                input#angularJSExampleTableResultsSearchButton(type='button', value='Search', ng-click='refreshAngularJSExampleTableResults()')
        div#angularJSExampleTableSidebarTableTitleWrapper
            h1 Character Selection
        div#angularJSExampleTableSidebarTableWrapper
            div#angularJSExampleTableSidebarTable
                table#angularJSExampleTableResultsTableTH
                    thead
                        tbody
                            th(width=100) Name
                            th(width=100) Species
                            th(width=0) Born
                table#angularJSExampleTableResultsTableTD
                    thead
                        tbody
                            tr(ng-repeat="character in allCharacters | orderBy: 'born':true | limitTo: 250", ng-click='setClickedRow(character.id)')
                                td(width=100) {{ character.name }}
                                td(width=100) {{ character.species }}
                                td(width=0) {{ character.born | date:'short'}}
                h2#angularJSExampleTableResultsEmptyTable(ng-show='allCharacters.length == 0') NO CHARACTERS FOUND
    div#angularJSExampleTablePageWrapper
        div#angularJSExampleTableInnerTitle
            h1 Star Wars Characters
                img#angularJSExampleTableImage(src='../images/person.png', alt='')
        div#angularJSExampeTableSplitWrapper
            h2#starWarsCharacterAdd(ng-model='add', ng-click='showSection(true)') Add
            h2#starWarsCharacterView(ng-model='view', ng-click='showSection(false)') View
        div#angulaJSExampleTableEnterWrapper(ng-show='showAddCharacter')
            div#angulaJSExampleTableTitle
                h1 Add Character
            div#angularJSExampleLabels
                label Name
                label Homeworld
                label Born
                label Died
                label Species
                label Gender
                label Affiliation
                label Associated
                label Masters
                label Apprentices
            div#angularJSExampleInputs
                input(type='text', ng-model='name')
                input(type='text', ng-model='homeworld')
                input(type='text', ng-model='born')
                input(type='text', ng-model='died')
                input(type='text', ng-model='species')
                input(type='text', ng-model='gender')
                input(type='text', ng-model='affiliation')
                input(type='text', ng-model='associated')
                input(type='text', ng-model='masters')
                input(type='text', ng-model='apprentices')
                input#angularJSExampeTableAddButton(type='button', value='Add Character', ng-click='addCharacter(name, homeworld, born, died, species, gender, affiliation, associated, masters, apprentices)')
        div#anjularJSExampleTableShowCharacters(ng-show='showViewCharacters')
            div#anjularJSExampleTableShowCharactersTest
                h1 Character
            div#anjularJSExampleTableResult
                div#angularJSExampleTableLabels
                    label Name
                    label Homewodrld
                    label Born
                    label Died
                    label Species
                    label Gender
                    label Affiliation
                    label Associated
                    label Masters
                    label Apprentices
                div#angularJSExampleTableInputs
                    input(ng-model='selectedCharacter[0].name')
                    input(ng-model='selectedCharacter[0].homeworld')
                    input(ng-model='selectedCharacter[0].born')
                    input(ng-model='selectedCharacter[0].died')
                    input(ng-model='selectedCharacter[0].species')
                    input(ng-model='selectedCharacter[0].gender')
                    input(ng-model='selectedCharacter[0].affiliation')
                    input(ng-model='selectedCharacter[0].associated')
                    input(ng-model='selectedCharacter[0].masters')
                    input(ng-model='selectedCharacter[0].apprentices')
                    input#angularJSExampleTableReSubmitButton(type='button', value='Update Character ', ng-click='reSubmitCharacter()')

            //div#quoteEditorShippingFields(ng-repeat='shipField in editedCartItems.shipAddr.Array track by $index')
            //    //label Line {{ $index + 1 }}
            //    input(ng-model='editedCartItems.shipAddr["Array"][$index]')

w
