div#contactMeInsideWrapper
    //h1 Contact Me
    div#contactMeInfoWrapper
        div#map
        div#contactMeWrapper
            div#contactMeTitle
                h3 Contact Me
            div#contactMeTop
                input(ng-model='name')
                input(ng-model='email')
            div#contactMeMiddle
                input(ng-model='phone')
            div#contactMeBottom
                input(ng-model='message')
            div#contactMeButton
                button#contactMeSubmitButton(ng-click='sendMessage(name, email, phone, message)') Send Email
