div#footer
    div#footerUpperLeft
        div#footerInfo
            h4 Website built on
            a(href='https://www.linode.com')
                img(src='../images/TechnologyIcons/linode.png', alt='')
            h4 with
            a(href='https://www.golang.org')
                img(src='../images/TechnologyIcons/golang.png', alt='')
            h4 ,
            a(href='https://www.javascript.com')
                img(src='../images/TechnologyIcons/javascript.png', alt='')
            h4 ,
            a(href='https://angularjs.org/')
                img(src='../images/TechnologyIcons/angular.png', alt='')
            h4 ,
            a(href='http://html5.com/')
                img(src='../images/TechnologyIcons/html.png', alt='')
            h4 , and
            a(href='https://www.w3.org/Style/CSS/')
                img(src='../images/TechnologyIcons/css.png', alt='')
        div#footerCopyright
            h5 © Maxwell Ross Morin 2019
    div#footerUpperRight
        div#footerSocialLinks
            a(href='https://www.facebook.com/MaxwellMorin')
                img(src='../images/facebook.png', alt='')
            a(href='https://www.linkedin.com/in/maxwell-morin-35159266/')
                img(src='../images/linkedin.png', alt='')
            a(href='https://www.youtube.com/channel/UCZcDNatmZ8BpjnJmmiEHQKQ')
                img(src='../images/youtube.png', alt='')
            a(href='https://github.com/MaxwellM')
                img(src='../images/github.png', alt='')
        div#footerVisitors
            h5 Monthly Unique Visitors: {{ visitors.length }}
