div#footer
    div#footerInfo
        h4 South Liberty Bend Dr | (207) 745-5698 |
            a#footerLink(href="mailto:maxwellrmorin@gmail.com") Personal Email
    div#footerCopyright
        h5 Copyright All Rights Reserved © 2018