div#footer
    div#footerInfo
        h4 Website built on
        a(href='https://www.linode.com') Linode
        h4 with
        a(href='https://www.golang.org') Golang
        h4 ,
        a(href='https://www.javascript.com') JavaScript
        h4 ,
        a(href='https://angularjs.org/') AngularJS
        h4 ,
        a(href='https://pugjs.org/') Pug(HTML)
        h4 , and
        a(href='lesscss.org/') Less(CSS)
    div#footerCopyright
        h5 Copyright All Rights Reserved © 2018