doctype html
html
    head
        link(rel="stylesheet", href="../css/main.css", type="text/css")
        link(rel="stylesheet", href="../css/projects.css", type="text/css")
        //link(rel="stylesheet", href="../css/angular-datepicker.css", type="text/css")
        script(src="../js/node_modules/angular/angular.js")
    body(ng-app='app', ng-controller='myCtrl')
        div#MainWrapper
            div#nav_bar
                include navigation
            div#projectPage
                include projectPage
            div#resumePage
                include resume
            div#contactMePage
                include contactMePage
            div#footerWrapper
                include footer
    script(src="../js/app.js")
    //script(src="../js/node_modules/angularjs-datepicker/src/js/angular-datepicker.js")