div#InsiteMainPageWrapper
    div#MEWrapper
        img#ME(src='../images/me2.jpg', alt='')
    div#AboutMeWrapper
        h1 Maxwell Morin
        h3 Full-Stack Engineer at SpotterRF
        h3 AA EMCC Liberal Studies - BS UMaine CS