div#InsiteMainPageWrapper
    div#MEWrapper
        img#ME(src='../images/me2.jpg', alt='')
    div#AboutMeWrapper
        h1 Maxwell Morin
        h3 Software Integration Manager at SpotterRF
        h3 AA EMCC Liberal Studies - BS UMaine CS
div#AboutMeBottomWrapper
    div#AboutMeDetails
        h3 About Me
        a Maxwell Morin loves programming, cooking, traveling, and building pipe lamps. Currently I work as a full-stack engineer at SpotterRF, a company that builds compact radars for commercial and military use. Previously, I did consulting work at the University of Maine's Physocology Department, and worked on the Help Desk at Cianbro. I also go my BS in Computer Science at the University of Maine. For more info, check out my projects on GitHub.
    div#AboutMeContacts
        h3 Contact
        img(src='../images/facebook.png', alt='')
        a(href='https://www.facebook.com/MaxwellMorin') FaceBook
        img(src='../images/linkedin.png', alt='')
        a(href='https://www.linkedin.com/in/maxwell-morin-35159266/') LinkedIn
        img(src='../images/youtube.png', alt='')
        a(href='https://www.youtube.com/channel/UCZcDNatmZ8BpjnJmmiEHQKQ') YouTube
        img(src='../images/github.png', alt='')
        a(href='https://github.com/MaxwellM') GitHub
