meta(name='description', content="Homepage of Maxwell Morin's portfolio website")
meta(name='keywords', content="HTML,CSS,JavaScript,Go,PostgreSQL")
meta(name='author', content="Maxwell Morin")
div#InsiteMainPageWrapper
    div#MEWrapper
        div#MEBorder
            img#ME(src='../images/newme.jpg', alt='')
    div#AboutMeWrapper
        h1 Maxwell Morin
        h3 Full-Stack Web Developer and IT Professional
        h3 AA EMCC Liberal Studies - BS UMaine CS
div#AboutMeBottomWrapper
    div#AboutMeDetails
        h3 About Me
        a Interests include programming, cooking, traveling, and building pipe lamps. I have experience as a Software Integration Manager and Full-Stack Engineer for a private company that builds compact radars for commercial and military use. Previously, I worked as an IT consultant for the University of Maine's Psychology Department and ran the IT Help Desk at a large construction company. I earned my BS in Computer Science at the University of Maine with honors. For more info, check out my projects on GitHub.
    div#AboutMeContacts
        h3 Contact
        a(href='https://www.facebook.com/MaxwellMorin')
            img(src='../images/facebook.png', alt='')
            label FaceBook
        a(href='https://www.linkedin.com/in/maxwell-morin-35159266/')
            img(src='../images/linkedin.png', alt='')
            label LinkedIn
        a(href='https://www.youtube.com/channel/UCZcDNatmZ8BpjnJmmiEHQKQ')
            img(src='../images/youtube.png', alt='')
            label YouTube
        a(href='https://github.com/MaxwellM')
            img(src='../images/github.png', alt='')
            label GitHub
