div#nav(ng-init='myCtrl.buttonName = "NIO Tests"')
    div.button(ng-repeat='button in ["NIO Tests", "Spotter Tests", "NIO Results", "Spotter Results", "Settings", "NIO Validator", "Spotter Validator"]',
    ng-click='log(button);myCtrl.buttonName = button;',
    id='NAVButton{{button}}',
    ng-class='{selected: myCtrl.buttonName == button}') {{ button }}