div#nav(ng-init='myCtrl.buttonName = "Home"')
    div.button(ng-repeat='button in ["Home", "Projects", "Resume", "Contact Me"]',
    ng-click='log(button);myCtrl.buttonName = button;',
    id='NAVButton{{button}}',
    ng-class='{selected: myCtrl.buttonName == button}') {{ button }}