div#resumeWrapper
    div#resumeInfoWrapper
        h3 Maxwell R. Morin
        h3 9042 South Liberty Bend Dr
        h3 APT 303
        h3 Sandy, UT 84094
        h3 (207) 745-5698
        h3 maxwellrmorin@gmail.com
    div#resumeEducationHistoryWrapper
        h3 Educational History
        h4 Southern Maine Community College
            label September 2006-May 2007
        label South Portland, ME
        label Concentration, Computer Science
        h4 Eastern Maine Community College
            label September 2008-June 2012
        label Bangor, ME
        label Associates of Arts, Liberal Studies
        label Graduated with Honors; President’s List; Dean’s List; Honorable Mention
        h4 University of Maine
            label September 2012-May 2015
        label Orono, ME
        label Bachelor of Science, Computer Science
        label Graduated with President's List
    div#resumeRelevantExperience
        h3 Relevant Experience
        h4 Customer Service Experience
        label Experienced in providing customer satisfaction by creating customer solutions while in store and onsite for personal and business environments; experienced answering incoming technology support phone calls from individuals and businesses offering immediate solutions or scheduling an in store drop off for on-site repair.
        h4 IT Experience
        label Four years of technician and tech manager experience for Computer Essentials; two years volunteer experience for Eastern Maine Community College IT Department; one year work-study experience for University of Maine Technology Support Center; one year working as a Help Desk Analyst at Cianbro.
    div#resumeComputerRepairExperience
        h3 Computer Repair Experience
        h4 Desktop Experience
        label Experienced in repairing Mac Pro (2006-2009), iMac (2006-2011), and Mac Mini (2006-2009) hard drives, RAM, logicboards, miscellaneous cards, cable management; experienced in system building, stress testing, and diagnostics.
        h4 Laptop Experience
        label Experienced in repairing MacBook (2006-2010), MacBook Pro (2006-2012), MacBook Air (2012), and PowerBook (2002-2004) hard drives, RAM, logicboards, miscellaneous cards, and cable management; experienced in system building, stress testing, diagnostics, power jack soldering, assembly, and disassembly.
        h4 Mobile Experience
        label Experienced in repairing iPhone (original-5), iPod Touch (2010), and iPad (original); replaced batteries in out of warranty iPhone, iPad, and iPods.
    div#resumeProgrammingExperience
        h3 Programming Experience and Proficiencies
        h4 Programing Languages:
            li JavaScript
            li Go
            li Java
            li C#
            li Python
            li MySQL
            li PostgrSQL
            li C
        label Object-Oriented Programming
        label MS Office 2003/2007/2010/2011
        label MS Windows 98/ME/2000/XP/Vista/7/8(8.1)/10
        label OS X 10.4-10.13
        label iLife/iWork Suite (2006-2011)
        label Proficient iOS experience in versions (1.0-8.1.2)
        label Managerial Experience
        label Two years tech manager for Computer Essentials
        label Managed a three person team; monitored continued workflow for in store and offsite appointments.
    div#resumeEmploymentHistory
        h3 Employment History
        h4 SpotterRF
            label Feb 2017 – Current
        label Orem, UT
        label Full-Stack Engineer
        label Product owner of Manufacturing Software. Duties include the design, construction, test, and maintenance of Manufacturing Software. Managing the server room. Also font-end development work for other software and special projects.
        h4 Cianbro
            label May 2015- Jan 2017
        label Pittsfield, ME
        label Help Desk Analyst
        label Check maintenance of IT computer equipment on a weekly basis; log call data and monitoring usage of IT equipment on a daily basis; complete special project work as needed.
        h4 University of Maine Department of Psychology
            label August 2010-May 2015
        label Orono, ME
        label Technology Consultant
        label Deliver technology and repair solutions to the psychology department’s lab equipment and personal computers.
        h4 University of Maine Technology Support Center
            label August 2014-May 2015
        label Orono, ME
        label Student Computer Tech IV
        label Check maintenance of IT computer equipment on a weekly basis; log call data and monitoring usage of IT equipment on a daily basis; complete on-site technical assistance and special project work as needed.
        h4 University of Maine Auxiliary Services
            label June 2014-August 2014
        label Orono ME
        label Student Conference Aid III
        label Checked in conference guests, summer sports camps, and summer resident students; programmed key cards for rooms; responded to conference needs.
        h4 Eastern Maine Community College
            label January 2010-June 2012
        label Bangor, ME
        label Volunteer Student Computer Tech
        label Checked maintenance of IT computer equipment on a weekly basis; logged call data and monitoring usage of IT equipment on a daily basis; completed on-site technical assistance and special project work as needed.
        h4 Computer Essentials
            label October 2008-June 2012
        label Bangor and Ellsworth, ME
        label Tech Manager
        label Maintained, adjusted, upgraded, serviced, and repaired computers, networks, and peripherals; recovered data; replaced disk drives, disk drive controller boards, cables, broken keyboards, ram, and logic/mother boards; soldered power jacks; managed workload across the department.
        h4 Staples
            label January 2008-October 2008
        label Bangor, ME
        label Easy Tech
        label Completed basic computer repairs such as virus removal, ram and hard drive installation, OS installation, and setting up backup programs; Greeted customers; Served as a resource for customers.
    div#resumeScholarships
        h3 Scholarships
        h4 University of Maine, Orono, ME
        h4 Hervey A. Hanscom Scholarship
            label September 2014
        h4 Computer Science Scholarship
            label December 2012
    div#resumeAcademicHonors
        h3 Academic Honors
        h4 Eastern Maine Community College, Bangor, ME
        h4 Honorable Mention
            label May 2012
        h4 Dean’s List
            label May 2011
        h4 President’s List
            label May 2010
        h4 University of Maine, Orono, ME
        h4 President's List
            label Dec 2014
    div#resumeHonorSocieties
        h3 Honor Societies
        h4 Eastern Maine Community College, Bangor, ME
        h4 Phi Kappa Phi Honor Society
            label January 2012