meta(name='description', content="Maxwell Morin's resume")
meta(name='keywords', content="HTML,CSS,JavaScript,AngularJS,Go,PostgreSQL")
meta(name='author', content="Maxwell Morin")
div#resumeWrapper
    embed(src='../images/resume2.pdf')
