title Maxwell Ross Morin's Resume
meta(name='description', content="Maxwell Morin's resume")
meta(name='keywords', content="HTML,CSS,JavaScript,AngularJS,Go,PostgreSQL")
meta(name='author', content="Maxwell Morin")
meta(name='viewport' content='width=device-width, initial-scale=1.0')
div#resumeWrapper
    embed(src='../images/MaxsCV.pdf')
