div#contactMePage {
  height: calc(100% - 100px);
}
img#locationMap {
  width: 400px;
  height: 400px;
  border-left: 2px;
  border-left-style: solid;
  padding-left: 25px;
}
div#contactMeInfoWrapper {
  font-family: open sans, sans-serif;
}
div#contactMeInsideWrapper {
  font-family: open sans, sans-serif;
  height: 100%;
  width: 100%;
}
div#contactMeInsideWrapper h1 {
  text-align: center;
}
div#map {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}
div#contactMeWrapper {
  display: grid;
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
}
div#contactMeWrapper input {
  font-family: open sans, sans-serif;
  padding: 10px;
  background-color: #f5f8fa;
}
div#contactMeWrapper textarea {
  font-family: open sans, sans-serif;
  padding: 10px 0px;
  width: 100%;
  height: 100px;
  resize: none;
  background-color: #f5f8fa;
}
div#contactMeMiddle,
div#contactMeBottom {
  width: 100%;
}
div#contactMeMiddle input,
div#contactMeBottom input {
  width: -moz-available;
  width: -webkit-fill-available;
}
div#contactMeTitle h3 {
  text-align: center;
  font-size: 1.5rem;
  font-family: open sans, sans-serif;
  margin-bottom: 5px;
}
div#contactMeTitle label {
  text-align: center;
  font-family: open sans, sans-serif;
}
div#contactMeTitle {
  display: grid;
  margin-bottom: 10px;
}
button#contactMeSubmitButton:hover,
button#contactMeSubmitButton:focus {
  color: #0096cc;
}
div#contactMeButton button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
  background-color: #f5f8fa;
  border-color: #52658F;
}
div#contactMeButton button:hover {
  color: #52658F;
  background: #CCCCCC;
}
