doctype html
html
    head
        base(href="/")
        meta(name='description', content="Maxwell Morin's portfolio website")
        meta(name='keywords', content="HTML,CSS,JavaScript,AngularJS,Go,PostgreSQL")
        meta(name='author', content="Maxwell Morin")
        meta(name='title' property='og:title' content='Maxwell Morins Portfolio Website')
        meta(name='image' property='og:image' content='https://www.maxintosh.org/images/me5.jpg')
        meta(name='description' property='og:description' content='Personal portfolio website entirely built and managed by myself that demonstrates the capability of full-stack development by showcasing unique array of sought after practices')
        meta(name='url' property='og:url' content='//www.maxintosh.org/')
        link(rel="stylesheet", href="./js/node_modules/angular-tooltips/dist/angular-tooltips.css", type="text/css")
        link(rel="stylesheet", href="./js/node_modules/angular-material/angular-material.min.css", type="text/css")
        link(rel="stylesheet", href="./js/node_modules/angular-material-data-table/dist/md-data-table.min.css", type="text/css")
        link(rel="stylesheet", href="./css/main.css", type="text/css")
        link(rel="shortcut icon", href="./images/favicon.png", type="image/png")
        script(defer='', src="./js/node_modules/angular/angular.js")
        script(defer='', src="./js/node_modules/@uirouter/angularjs/release/angular-ui-router.js")
        script(defer='', src="./js/node_modules/oclazyload/dist/ocLazyLoad.js")
        script(defer='', src="./js/app.js")
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-19197796-1')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-19197796-1');
    body(ng-app='app', ng-controller='myCtrl')
        div#MainWrapper
            div#nav_bar(ng-controller='navigationCtrl', ng-cloak)
                include includes/navigation
            div#renderedPage(ui-view)
            div#footerWrapper(ng-controller='footerCtrl', ng-cloak)
                include includes/footer
    script(defer='', src="./js/node_modules/angular-material/angular-material.min.js")
    script(defer='', src="./js/node_modules/angular-material-data-table/dist/md-data-table.min.js")
    script(defer='', src="./js/node_modules/angular-sanitize/angular-sanitize.min.js")
    script(defer='', src="./js/node_modules/angular-tooltips/dist/angular-tooltips.min.js")
    script(defer='', src="./js/node_modules/angular-animate/angular-animate.min.js")
    script(defer='', src="./js/node_modules/angular-aria/angular-aria.min.js")
    script(defer='', src="./js/node_modules/angular-messages/angular-messages.min.js")
    script(defer='', src="./js/node_modules/angular-cookies/angular-cookies.min.js")
    script(defer='', src="./js/node_modules/ngtweet/dist/ngtweet.min.js")
    script(defer='', src="./js/node_modules/d3/dist/d3.min.js" charset="utf-8")
    script(defer='', src="./js/node_modules/c3/c3.min.js")
    script(defer='', src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBD8Vaf701K57QYWMcw6zmmcm8cUt-HPQ")
    script(defer='', src="./js/mainePage.js")
    script(defer='', src="./js/contactMe.js")
    script(defer='', src="./js/project.js")
    script(defer='', src="./js/resume.js")
    script(defer='', src="./js/angularJSExampleChart.js")
    script(defer='', src="./js/angularJSExampleDisplay.js")
    script(defer='', src="./js/angularJSExampleTable.js")
    script(defer='', src="./js/phraseOccurrence.js")
    script(defer='', src="./js/stockTracker.js")
    script(defer='', src="./js/translate.js")
    script(defer='', src="./js/twitter.js")
    script(defer='', src="./js/unityEggciteBike.js")
    script(defer='', src="./unityGames/EggciteBikeWebGL/TemplateData/UnityProgress.js")
    script(defer='', src="./js/unityEggman.js")
    script(defer='', src="./unityGames/EggMan5-4WebGL/TemplateData/UnityProgress.js")
    script(defer='', src="./js/unityLostInSpace.js")
    script(defer='', src="./unityGames/LostInSpaceWebGL/TemplateData/UnityProgress.js")
    script(defer='', src="./unityGames/EggMan5-4WebGL/TemplateData/UnityProgress.js")