doctype html
html
    meta(name='description', content="Maxwell Morin's portfolio website")
    meta(name='keywords', content="HTML,CSS,JavaScript,AngularJS,Go,PostgreSQL")
    meta(name='author', content="Maxwell Morin")
    //meta(name='viewport' content='width=device-width, "initial-scale=1.0')
    head
        link(rel="stylesheet", href="./css/main.css", type="text/css")
        link(rel="stylesheet", href="./css/projects.css", type="text/css")
        link(rel="stylesheet", href="./css/footer.css", type="text/css")
        link(rel="stylesheet", href="./css/navigation.css", type="text/css")
        link(rel="stylesheet", href="./css/contactMe.css", type="text/css")
        link(rel="stylesheet", href="./css/resume.css", type="text/css")
        link(rel="stylesheet", href="./css/angularJSExampleTable.css", type="text/css")
        link(rel="stylesheet", href="./css/angularJSExampleDisplay.css", type="text/css")
        link(rel="stylesheet", href="./css/angularJSExampleChart.css", type="text/css")
        link(rel="stylesheet", href="./css/unityLostInSpace.css", type="text/css")
        link(rel="stylesheet", href="./css/phraseOccurrence.css", type="text/css")
        link(rel="stylesheet", href="./css/translate.css", type="text/css")
        link(rel="stylesheet", href="./unityGames/LostInSpaceWebGL/TemplateData/style.css")
        link(rel="stylesheet", href="./css/twitter.css", type="text/css")
        link(rel="stylesheet", href="./css/stockTracker.css", type="text/css")
        link(rel="stylesheet", href="./js/node_modules/angular-tooltips/dist/angular-tooltips.css", type="text/css")
        link(rel="stylesheet", href="./js/node_modules/github-calendar-1.3.4/dist/github-calendar.css", type="text/css")
        link(rel="stylesheet", href="./js/node_modules/angular-material/angular-material.css", type="text/css")
        link(rel="stylesheet", href="./css/c3.css")
        link(rel="stylesheet", href="./js/node_modules/angular-material-data-table/dist/md-data-table.css", type="text/css")
        link(rel="shortcut icon", href="./images/favicon.png", type="image/png")
        script(src="./js/node_modules/angular/angular.min.js")
        script(src="./js/node_modules/angular-material/angular-material.min.js")
    body(ng-app='app', ng-controller='myCtrl')
        div#MainWrapper
            div#nav_bar(ng-cloak)
                include includes/navigation
            div#mainPage(ng-controller='mainPageCtrl', ng-if='myCtrl.buttonName == "Maxwell Morin"')
                include includes/main
            div#projectPage(ng-controller='projectCtrl', ng-cloak, ng-if='myCtrl.buttonName == "Projects"')
                include includes/projectPage
            div#resumePage(ng-controller='resumeCtrl', ng-cloak , ng-if='myCtrl.buttonName == "Resume"')
                include includes/resume
            div#contactMePage(ng-controller='contactMeCtrl', ng-cloak, ng-if='myCtrl.buttonName == "Contact Me"')
                include includes/contactMePage
            div#angularJSExampleTablePage(ng-controller='angularJSExampleTableCtrl', ng-cloak, ng-if='myCtrl.buttonName == "Table Example"')
                include includes/angularJSExampleTable
            div#angularJSExampleDisplayPage(ng-controller='angularJSExampleDisplayCtrl', ng-cloak, ng-if='myCtrl.buttonName == "Display Example"')
                include includes/angularJSExampleDisplay
            div#angularJSExampleChartPage(ng-controller='angularJSExampleChartCtrl', ng-cloak, ng-if='myCtrl.buttonName == "Chart Example"')
                include includes/angularJSExampleChart
            div#untyGameLostInSpacePage(ng-cloak, ng-if='myCtrl.buttonName == "Unity Lost In Space"')
                include includes/unityLostInSpace
            div#goExampleOccurrencePage(ng-controller='goExampleOccurrenceCtl', ng-cloak, ng-if='myCtrl.buttonName == "String Duplication"')
                include includes/phraseOccurrence
            div#goExampleTranslatePage(ng-controller='goExampleTranslateCtl', ng-cloak, ng-if='myCtrl.buttonName == "Translate"')
                include includes/translate
            div#goExampleTwitterPage(ng-controller='goExampleTwitterCtl', ng-cloak, ng-if='myCtrl.buttonName == "Twitter"')
                include includes/twitter
            div#stockTrackerPage(ng-controller='stockTrackerCtrl', ng-cloak, ng-if='myCtrl.buttonName == "Stock Tracker"')
                include includes/stockTracker
            div#footerWrapper(ng-controller='footerCtrl', ng-cloak)
                include includes/footer
    script(src="./js/node_modules/angular-material-data-table/dist/md-data-table.min.js")
    script(src="./js/node_modules/angular-sanitize/angular-sanitize.min.js")
    script(src="./js/node_modules/angular-tooltips/dist/angular-tooltips.min.js")
    script(src="./js/node_modules/github-calendar-1.3.4/dist/github-calendar.min.js")
    script(src="./js/node_modules/angular-animate/angular-animate.min.js")
    script(src="./js/node_modules/angular-aria/angular-aria.min.js")
    script(src="./js/node_modules/angular-messages/angular-messages.min.js")
    script(src="./js/node_modules/ngtweet/dist/ngtweet.min.js")
    script(src="./js/app.js")
    script(src="./js/navigation.js")
    script(src="./js/mainePage.js")
    script(src="./js/contactMe.js")
    script(src="./js/project.js")
    script(src="./js/resume.js")
    script(src="./js/angularJSExampleChart.js")
    script(src="./js/angularJSExampleTable.js")
    script(src="./js/angularJSExampleDisplay.js")
    script(src="./js/unityLostInSpace.js")
    script(src="./js/phraseOccurrence.js")
    script(src="./js/translate.js")
    script(src="./js/twitter.js")
    script(src="./js/stockTracker.js")
    script(src="./js/footer.js")
    script(src="./js/node_modules/d3/dist/d3.min.js" charset="utf-8")
    script(src="./js/node_modules/c3/c3.min.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBD8Vaf701K57QYWMcw6zmmcm8cUt-HPQ")
    script(src='./unityGames/LostInSpaceWebGL/TemplateData/UnityProgress.js')
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-19197796-1')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-19197796-1');
