div#angularJSExampleChartPage {
  height: calc(100% - 100px);
  //height: 100%;
}

div#angularJSExampleChartInnerPageWrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: white;
}

div#angularJSExampleChartTitle {
  & h1, h2 {
    font-size: 1.5rem;
    font-family: open sans, sans-serif;
    margin: 0px;
    text-align: center;
    padding-top: 10px;
  }
}

div#angularJSExampleChartVisitorCount,
div#angularJSExampleChartPageCount {
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
  margin-right: 25px;
  margin-top: 0px;
  //background-color: rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  padding: 10px;
  & h3:nth-child(1) {
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.125);
  }
  & h3:nth-child(2) {
    text-align: center;
  }
}

div#angularJSExampleCharVisitors {
  max-height: 260px;
  overflow: auto;
  height: fit-content;
  display: grid;
}

div#angularJSExampleChartVisitorLocation {
  display: grid;
  margin-left: 25px;
  //background-color: rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  padding: 10px;
  height: fit-content;
  & h3 {
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.125);
  }
}

div#angularJSExampleChartWrapper {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.125);
  margin-bottom: 10px;
}

div#angularJSExampleChartTopWrapper {
  background-color: #f5f8fa;
}

div#angularJSExampleChartBottomWrapper {
  display: flex;
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
  & h3 {
    font-size: 1.5rem;
    font-family: open sans, sans-serif;
    margin-top: 0px;
    margin-bottom: 5px;
    height: fit-content;
  }
  //& h3:first-child {
  //  text-align: center;
  //}
}

div#angularJSExampleChartLocationInfoWrapper {
  float: left;
  display: grid;
  padding-left: 5px;
  padding-bottom: 10px;
  padding-top: 5px;
}

div#angularJSExampleChartLocationLabelWrapper {
  display: grid;
  padding-top: 5px;
  text-align: right;
  float: left;
  border-right: solid;
  border-right-width: 2px;
  padding-bottom: 10px;
  padding-right: 5px;
}

div#angularJSExampleChartVisitorList {
  display: grid;
  //background-color: rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  padding: 10px;
  height: fit-content;
  //max-height: 300px;
  //overflow: auto;
  & h3 {
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.125);
  }
  & label {
    cursor: pointer;
  }
}
