body {
  background-color: #ffffff;
  height: 100vh;
  width: 100vh;
  margin: 0px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-    ng-cloak {
   display: none !important;
 }

div#MainWrapper {
  height: 100%;
  width: 100%;
}

div#InsiteMainPageWrapper {
  background-color: #f5f8fa;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0,0,0,.125);
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  width: 100%;
  //display: flex;
  justify-content: center;
  align-items: center;
  //flex-direction: column;
}

div#MEWrapper {
  width: 110px;
  height: 110px;
  //margin: auto;
  border-radius: 100%;
  border: 2px solid rgba(0, 0, 0, 0.125);
  & img#ME {
    height: 100px;
    width: 100px;
    z-index: 1;
    border-radius: 100%;
    border: 5px solid white;
  }
}

div#AboutMeWrapper {
  & h1 {
    font-weight: 700;
    line-height: 1.25;
    color: #3a4145;
    font-family: open sans,sans-serif;
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 3rem;
  }
  & h3 {
    font-family: open sans,sans-serif;
    font-weight: 400;
    color: #aaa;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

div#mainPage {
  width: 100%;
  height: calc(100% - 100px);
}

div#AboutMeDetails {
  width: 75%;
  //max-width: 38em;
  max-width: 30em;
  margin-right: auto;
  margin-left: auto;
  float: left;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: open sans, sans-serif;
  text-align: justify;
  & h3 {
    font-size: 1.5rem;
    font-family: open sans,sans-serif;
  }
}

div#AboutMeContacts {
  width: 25%;
  float: right;
  box-sizing: border-box;
  display: grid;
  & h3 {
    font-size: 1.5rem;
    font-family: open sans,sans-serif;
  }
  & img {
    width: 30px;
    vertical-align: bottom;
  }
  & a {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #111;
    display: inline;
    vertical-align: super;
    text-decoration: none;
    font-family: open sans,sans-serif;
    -webkit-font-feature-settings: 'dlig' 1,'liga' 1,'lnum' 1,'kern' 1;
    -moz-font-feature-settings: 'dlig' 1,'liga' 1,'lnum' 1,'kern' 1;
    -o-font-feature-settings: 'dlig' 1,'liga' 1,'lnum' 1,'kern' 1;
    &:hover {
      color: #0096cc;
    }
  }
  & label {
    vertical-align: inherit;
    margin-left: .5rem;
    &:hover {
      cursor: pointer;
    }
  }
}

div#AboutMeBottomWrapper {
  max-width: 500px;
  width: 50%;
  overflow: auto;
  margin: 0px auto 15px;
}

div#MEBorder {
  width: 110px;
  height: 110px;
  margin: auto;
  border-radius: 100%;
  border: 2px solid rgba(0, 0, 0, 0.125);
}
