div#stockTrackerPage {
  height: calc(100% - 100px);
  //height: 100%;
}

div#stockTrackerPageWrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
}

div#stockTrackerUpdateInfoWrapper {
  display: flex;
  label {
    margin-right: 10px;
    align-self: flex-end;
  }
}