div#stockTrackerPage {
  height: calc(100% - 100px);
  //height: 100%;
}

div#stockTrackerPageWrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
}

div#stockTrackerPageTableWrapper {
  display: flex;
  flex-direction: column;
}

div#stockTrackerTopWrapper {
  display: flex;
  flex-direction: column;
  background-color: #f5f8fa;
  text-align: center;
  padding: 2em 0 2em 0;
  h1 {
    margin: 0;
  }
}

div#stockTrackerMiddleWrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2em 0 2em 0;
}

div#stockTrackerMiddleInfo {
  display: flex;
  align-self: center;
}

div#stockTrackerMiddleInfo > label {
  margin-right: 2em;
}

div#stockTrackerBottomWrapper {
  display: flex;
  flex-direction: column;
  background-color: #f5f8fa;
}

md-progress-linear {
  height: 10px;
}

md-progress-linear .md-container {
  height: 10px;
}

md-progress-linear .md-container .md-bar {
  height: 10px;
}

div#stockTrackerUpdateInfoWrapper {
  display: flex;
  align-items: center;
  label {
    margin-right: 10px;
    align-self: flex-end;
    min-width: fit-content;
  }
}

div#stockTrackerItemWrapper {
  md-subhead {
    align-self: center;
    margin-left: 1em;
  }
}
