@charset "UTF-8";

div#goExampleTranslatePage {
  height: calc(100% - 100px);
  //height: 100%;
}

div#goExampleTranslatePageWrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
}

div#goExampleTranslateTitle {
  & h1 {
    color: #282e44;
    text-transform: capitalize;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-color: #282E43;
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
  }
  & img {
    width: 50px;
    vertical-align: middle;
    margin-left: 10px;
  }
}

div#goExampleTranslateInputWrapper {
  & h3 {
    color: #282e44;
    text-transform: capitalize;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
    width: -moz-fit-content;
    margin: auto;
  }
}

div#goExampleTranslateInnerWrapper,
div#goExampleTranslateReturnWrapper {
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
  padding-top: 10px;
  & input {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
  }
  & input:hover, input:focus {
    background-color: #52658F;
    color: #F7F5E6;
  }
  & label {
    font-family: open sans, sans-serif;
    margin-right: 5px;
  }
  & select {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
  }
}
