div#untyGameEggmanPage {
  height: calc(100% - 100px);
  //height: 100%;
  width: 100%;
  background-color: #f5f8fa;
}

div#unityEggmanLabelWrapper {
  margin: auto;
  width: fit-content;
}

div#unityEggmanWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
}

div#unityEggmanWrapper button:hover,
div#unityEggmanWrapper button:focus {
  color: #0096cc;
}

button#playEggman {
  padding: 10px;
  cursor: pointer;
  background-color: #f5f8fa;
  border-color: #52658F;
}
