[Unit]
User=root
Description=Portfolio Website Service
After=network.target postgres.service
StartLimitIntervalSec=0

[Service]
Type=simple
RemainAfterExit=true
#Restart=on-failure

WorkingDirectory=/root/go/src/PortfolioWebsite
ExecStart=/root/go/src/PortfolioWebsite/runServer release
Environment="HOME=/root

[Install]
WantedBy=multi-user.target
